<script src='./PostWindow.script.ts'></script>

<template>
	<div id='postWindow' @click='closePostWindow' >
		<div class='postCnt' @click='stopPropagation'>
			<ApolloQuery class="apolloDiv" :query='GET_POST' :variables="{ postID }">
				<template slot-scope="{ result: { data, loading, error } }">
					<div v-if="error" class="loading">{{ error.message }}</div>
					<div v-else-if="loading || !data" class="loading">Loading...</div>
					<Header v-else-if="data" v-bind:title="data.getPostByID.title"></Header>
					<div class='container' v-if="data">
						<Left
							v-bind:title="data.getPostByID.title"
							v-bind:content="data.getPostByID.content"
							v-bind:author="data.getPostByID.author"
							v-bind:createdOn="data.getPostByID.createdOn"
						></Left>
						<Aside class='right'></Aside>
					</div>
				</template>
			</ApolloQuery>
		</div>
	</div>
</template>


