#postWindow
	position: fixed
	background: #4c4c4cf2
	width: 100%
	height: 100%
	z-index: 100

	.postCnt
		width: 90%
		height: calc(100% - #{$topbar-height})
		max-width: 1400px
		margin: 0 auto

		.apolloDiv
			height: 100%
			background: #dae0e6
			display: flex
			flex-direction: column

		.loading
			font-size: 28px
			font-weight: 300
			text-align: center
			padding-top: 40vh

		.container
			padding-top: 30px
			justify-content: center
			display: flex
			overflow: auto
			box-sizing: border-box

			.right
				margin: 0
				height: 100%
				width: 312px

	@media screen and (max-width: 550px)
		.postCnt
			margin: 0 auto
			width: 100%