.bookmarks
	width: inherit
	height: 40px
	background: #e5f5f2
	display: flex
	align-items: center
	padding-left: 16px
	box-sizing: border-box

	.bookmark
		color: $main-subforum-color
		padding: 9px 14px
		font-size: 14px
		font-weight: 500

		&.active
			border-bottom: $secondary-subforum-color 3px solid
			color: $secondary-subforum-color
			border-bottom: var(--secondary-subforum-color) 3px solid
			color: var(--secondary-subforum-color)
