#upSection
	.header
		height: 80px
		width: inherit
		background: $main-subforum-color
		background: var(--main-subforum-color)
		color: white
		font-size: 23px
		display: flex
		padding: 25px 20px
		box-sizing: border-box

		.subForumTitle
			align-self: flex-end
