<script src='./Comment.script.ts'></script>

<template>
	<div class='comment'>
		<div class='cnt'>
			<Vote class='voteHere'></Vote>
			<div>
				<div class='author'>cersit</div>
				<div class='date'>9 days ago</div>
				<div class='essence'>Html5 is the standard, it's also hard to not use any tiny part of it, but obviously you utilize more than only html itself.</div>
				<div class='toolbar'>
					<div class='share'>Share</div>
					<div class='reply'>Reply</div>
				</div>
			</div>
			<Comment v-if='isReplied'></Comment>
		</div>
	</div>
</template>
