<script src='./Footer.script.ts'></script>
<template>
	<div class='rSecElem'>
		<div class='elemName'>Footer</div>
		<div class='cnt'>
			<div class='footerLinks'>
				<table class='footerTable'>
					<tr>
						<td>About</td>
						<td>Adverise</td>
						<td>The Reddit App</td>
					</tr>
					<tr>
						<td>Carrers</td>
						<td>Blog</td>
						<td>Reddit Gold</td>
					</tr>
					<tr>
						<td>Press</td>
						<td>Help</td>
						<td>Redyt Gifts</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</template>
