<script src='./Home.script.ts'></script>

<template>
	<div v-if="this.loading" class="loading">
		<TopBar></TopBar>
	</div>
	<div v-else>
		<TopBar></TopBar>
		<div v-if="!this.$store.state.subforum.error">
			<Popup v-if="this.$store.state.popup"></Popup>
			<router-view>
				<PostWindow></PostWindow>
			</router-view>
			<div class='wrapper'>
				<UpSection></UpSection>
				<div class='sec'>
					<Forum></Forum>
					<Aside></Aside>
				</div>
			</div>
		</div>
		<div id='subforumNotFound' v-else-if="this.$store.state.subforum.error">
			<div>r/{{ this.$route.params.subForumName }} does not exist</div>
			<a href="/"><button class='niceButton'>Back home</button></a>
		</div>
	</div>
</template>
