<script lang="ts" >

import Vue from 'vue';
import Component from 'vue-class-component';

@Component({
	components: {
	},
})
export default class PageNotFound extends Vue {
	path = location.pathname
}
</script>

<template>
	<div id='errorSite'>
		<h1>Error 404</h1>
		<br>
		<h2>{{ path }}</h2>
		<h2>Page not Found!</h2>
		<br>
		<router-link to="/">Back home...</router-link>
	</div>
</template>
