<script src='./Rules.script.ts'></script>
<template>
	<div class='rSecElem'>
		<div class='elemName'>Rules</div>
		<div class='cnt'>
			<ol class='rules'>
				<li>No Politics</li>
				<li>No Personal Information or Witch-Hunting</li>
				<li>Submit Direct Link to Video</li>
				<li>No Porn or Gore</li>
				<li>No Solicitation of Votes or Views</li>
				<li>No Hate Speech</li>
				<li>No Videos of Assault or Public Freakouts</li>
				<li>No Third Party Licensing</li>
				<li>Videos Only</li>
			</ol>
		</div>
	</div>
</template>
