#sortMenu
	position: relative
	left: 45px
	z-index: 5

	ul
		list-style-type: none
		position: absolute
		width: 160px

		li
			height: 35px
			background: white
			border: 1px solid #edeff1
			padding-left: 10px
			line-height: 2

		li:hover
			background: #edeff1
