.subForumSettings
	.sort
		display: flex
		align-items: center
		height: inherit
		margin-left: 30px
		text-transform: uppercase
		font-size: 11px
		font-weight: 700
		letter-spacing: 0.5px
		color: $icon-color
		background: transparent
		padding: 0 10px

		.slide
			margin-left: 10px
			color: $secondary-subforum-color
			color: var(--secondary-subforum-color)

		svg
			width: 17px
			height: 17px
			margin-bottom: 3px
			color: $secondary-subforum-color
			fill: var(--secondary-subforum-color)

	#sortMenu
		position: relative
		left: 45px
		width: 160px
		z-index: 5

		ul
			list-style-type: none

			li
				height: 35px
				background: white
				border: 1px solid #edeff1
				padding-left: 10px
				line-height: 2

			li:hover
				background: #edeff1
