.aside
	width: 310px
	margin: 25px
	margin-left: 0
	flex-shrink: 0
	box-sizing: border-box

	.rSecElem
		margin-bottom: 27px
		border-radius: 6px
		background: #fff
		overflow: hidden

		.elemName
			text-transform: uppercase
			font-size: 11px
			font-weight: 700
			letter-spacing: .5px
			height: 36px
			background: $tertiary-subforum-color
			background: var(--tertiary-subforum-color)
			color: white
			padding: 11px
			box-sizing: border-box

		.cnt
			padding: 15px
			h1
				font-size: 23px

@media screen and (max-width: 1100px)
	.aside
		display: none
