<script src='./Aside.script.ts'></script>

<template>
	<aside class='aside'>
		<CommunityDetails></CommunityDetails>
		<Moderation></Moderation>
		<Rules></Rules>
		<Moderators></Moderators>
		<Footer></Footer>
	</aside>
</template>
