#topBar
	background: white
	position: sticky
	top: 0
	width: 100%
	height: $topbar-height
	display: flex
	align-items: center
	justify-content: center
	border-bottom: 1px solid #edeff1
	z-index: 10
	box-sizing: border-box
	padding: 0 10px

	button
		width: 120px
		margin: 0 5px
		flex-shrink: 0