<script src='./TopBar.script.ts'></script>

<template>
	<div id='topBar'>
		<Logo></Logo>
		<NavMenu></NavMenu>
		<SearchBox></SearchBox>
		<UserArea v-if="this.$store.state.loggedIn"></UserArea>
		<button v-if="!this.$store.state.loggedIn" class='niceButton variant2' @click='showPopup()'>Log in</button>
		<button v-if="!this.$store.state.loggedIn" class='niceButton'>Sign up</button>
	</div>
</template>
