<script src='./Header.script.ts'></script>

<template>
	<div class='header'>
		<div class='group'>
			<Vote class='voteHere'></Vote>
			<div class='title'> {{ this.title }} </div>
			<div class='space'></div>
			<div class='exit' @click='hidePost'>
				<svg width="15" fill="grey" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polygon id="close-a" fill="inherit"
					points="11.649 9.882 18.262 3.267 16.495 1.5 9.881 8.114 3.267 1.5 1.5 3.267 8.114 9.883 1.5 16.497 3.267 18.264 9.881 11.65 16.495 18.264 18.262 16.497"></polygon>
					<g fill="none" fill-rule="evenodd"><polygon points="0 20 20 20 20 0 0 0"></polygon><use xlink:href="#close-a"></use></g>
				</svg>
				<span>CLOSE</span>
			</div>
		</div>
	</div>
</template>
