<script src='./Vote.script.ts'></script>

<template>
	<div class='vote'>
		<button class='voteElem icon voteUp voted'></button>
		<span class='voteElem voteSummary'>22</span>
		<button class='voteElem icon voteDown'></button>
	</div>
</template>
