.vote
	display: flex

	.voteElem
		height: 25px
		width: 25px
		font-size: 17px
		background: transparent

	.voteSummary
		width: 34px
		text-align: center
		font-weight: 600
		font-size: 13px
		line-height: 2em
		cursor: default

	.voteUp::before
		content: '\F12B'

	.voteUp:hover
		color: red

	.voteDown::before
		content: '\F108'

	.voteDown:hover
		color: dodgerblue

@media screen and (max-width: 500px)
	.vote
		display: none
