<script src='./Moderators.script.ts'></script>
<template>
	<div class='rSecElem'>
		<div class='elemName'>Modetators</div>
		<div class='cnt'>
			<div class='moderators'>
				<p>u/juzeff</p>
				<p>u/janusz</p>
				<p>u/max</p>
				<p>u/min</p>
			</div>
		</div>
	</div>
</template>
