#forum
	.post:hover
		border: 1px solid #898989 !important
		z-index: 1

	.post
		width: 100%
		display: flex
		border: 1px solid $posts-border-color
		border-top: 1px solid transparent
		margin-bottom: -1px
		cursor: pointer
		box-sizing: border-box

		&:first-child
			border-top: 1px solid $posts-border-color

		.voteHere
			width: 90px
			background: #f7f9fa
			border-right: 1px solid $posts-border-color
			padding-top: 5px
			flex-shrink: 0
			justify-content: center

		.cnt
			width: 100%

			.firstLine
				display: flex
				width: 100%

				.attachment
					width: 40px
					flex-shrink: 0
					display: flex
					justify-content: center
					align-items: center
					color: $icon-color

				.attachment:after
					content: "\F118"

				.postContent
					display: flex
					flex-grow: 1
					font-size: 14px
					padding-top: 7px

					.tag
						background: #edeff1
						padding: 0 3px
						margin-right: 5px
						float: left
						font-weight: normal

					.postHeading
						font-weight: 500
						color: #222222
						margin-right: 8px

					.attachedLink
						color: $secondary-subforum-color
						color: var(--secondary-subforum-color)
						text-decoration: none

					.attachedLink:hover
						text-decoration: underline

				.sts
					width: 85px
					flex-shrink: 0
					display: inline-flex
					justify-content: space-between

					.comments
						height: 25px

						div
							display: inline
							vertical-align: middle

						.commentIco
							margin-right: 4px

						.commentIco:before
							content: '\F105'

						.comNumber
							color: $icon-color
							font-size: 13px
							line-height: 2
							font-weight: 500

					.postSettings
						height: 25px
						line-height: 1.4em
						margin-right: 10px

					.postSettings::before
						content: '\F11B'

		.postDate
			font-size: 12px
			height: 20px
			display: flex
			align-items: center
			padding-left: 40px
			color: #7c7c7c
