<script src='./Post.script.ts'></script>

<template>
	<router-link :to="{ path: `posts/${this.id}` }" append class='post' @click='showPost'>
			<Vote class='voteHere'></Vote>
			<div class='cnt'>
				<div class='firstLine'>
					<div class='attachment icon'></div>
					<div class='postContent'>
						<div class='postHeading'>
							<div class='tag'></div>
							<span class='postTitle'>{{ this.title }}</span>
							<span class='attachedLink' href='/'></span>
						</div>
					</div>
					<div class='sts'>
						<div class='comments'>
							<div class='commentIco icon'></div>
							<div class='comNumber'>5</div>
						</div>
						<div class='postSettings icon'></div>
					</div>
				</div>
				<div class='postDate'>Posted by u/{{ this.author.name }} {{ this.createdOn }}</div>
			</div>
	</router-link>
</template>
