<script src='./Moderation.script.ts'></script>
<template>
	<div class='rSecElem'>
		<div class='elemName'>Moderation</div>
		<div class='cnt'>
			<h1>Removal & Warnings</h1>
			<ul class='moderation'>
				<li>If your submission does not appear in the new queue, please contact us (be sure to include a link to the Reddit post (i.e. comments section), not the content you are linking). Simply deleting your post may cause the spam filter to catch future ones.</li>
				<li>Note: Submissions from new users, and users with low karma, are automatically removed to help prevent spam.</li>
				<li>Also, please contact us regarding spam, political or any other inappropriate videos, as this helps us remove them more quickly! When reporting, please explain why you think it should be removed.</li>
				<li>Do not message moderators individually about posts not appearing in the new queue or ban appeals. Messages should be sent as a modmail to /r/Videos. Failure to do so may result in a ban.</li>
			</ul>
		</div>
	</div>
</template>
