#forum
	margin: 25px
	background: white
	display: flex
	flex-direction: column
	flex-grow: 1
	height: fit-content
	height: -moz-fit-content

	.nothingToShow
		display: flex
		justify-content: center
		align-items: center
		padding: 30px 0
		font-size: 24px

@media screen and (max-width: 800px)
	#forum
		margin: 25px 0