<script src='./Forum.script.ts'></script>

<template>
	<section id='forum'>
		<ApolloQuery :query='GET_POSTS' :variables="{ subforumID }">
			<template slot-scope="{ result: { data, loading, error } }">
				<div v-if="error" class="loading">{{ error.message }}</div>
				<!-- <div v-else-if="loading" class="loading">Loading...</div> -->
				<LoadingGif v-else-if="!data || loading"></LoadingGif>
				<span v-else-if="data && data.getPostsBySubforum == false" class="nothingToShow">Nothing to show...</span>
				<Post v-else-if="data" v-for="(post, index) in data.getPostsBySubforum" :key="index"
						v-bind:id="post.id"
						v-bind:title="post.title"
						v-bind:author="post.author"
						v-bind:createdOn="post.createdOn"
				></Post>
			</template>
		</ApolloQuery>
	</section>
</template>
