@font-face
	font-family: redesignFont
	src: url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.b10d3d7903a1a7648d62918000ab5a6c.eot),url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.b10d3d7903a1a7648d62918000ab5a6c.woff),url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.b10d3d7903a1a7648d62918000ab5a6c.ttf),url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.b10d3d7903a1a7648d62918000ab5a6c.svg)

*
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

body
	font-family: 'Roboto', sans-serif
	color: $font-color
	background: $main-bg-color
	overflow: hidden

a
	text-decoration: none
	color: inherit
	outline: 0
	cursor: pointer

button, li
	cursor: pointer
	outline: 0
	background: transparent

#app
	.wrapper
		overflow: auto
		height: calc(100vh - #{$topbar-height})

		.sec
			display: inline-flex
			width: 100%


#errorSite
	margin: auto
	padding: 30px
	background: white
	width: 1000px

	h1
		font-size: 40px
		font-weight: bold

	h2
		font-size: 17px

	a
		color: blue
		text-decoration: underline

.hideOverflow
	overflow: hidden

.icon
	font-family: redesignFont
	color: $icon-color

.niceButton
	width: 100%
	height: 34px
	background: $secondary-subforum-color
	color: white
	border-radius: 4px
	font-size: 15px
	text-transform: uppercase

	&:hover
		background: lighten($secondary-subforum-color, 8)

	&:active
		background: darken($secondary-subforum-color, 15)

	&.variant2 //white button
		color: $secondary-subforum-color
		border: 1px solid $secondary-subforum-color
		background: white

		&:hover
			border-color: lighten($secondary-subforum-color, 15)
			color: lighten($secondary-subforum-color, 15)

		&:active
			border-color: darken($secondary-subforum-color, 15)
			color: darken($secondary-subforum-color, 15)

#subforumNotFound
	display: flex
	height: 80vh
	justify-content: center
	align-items: center
	flex-direction: column
	font-size: 21px

	button
		width: 145px
		height: 39px
		margin: 30px 0 0 0