.searchbox
	height: 70%
	width: 100%
	margin: 0 5px

	.search
		height: 100%
		width: 100%
		background: #f6f7f8
		border: 1px solid #edeff1
		border-radius: 5px
		padding-left: 15px
		box-sizing: border-box

		&:hover, &:focus
			background: inherit
			outline: 0
			border: 1px solid $secondary-subforum-color
			border: 1px solid var(--secondary-subforum-color)
