<script src='./SearchBox.script.ts'></script>

<template>
	<form class='searchbox' v-on:submit='search'>
		<input type='text' v-model="userInput" class='search' placeholder='Search'>
	</form>
</template>
