<script src='./Navigation.script.ts' ></script>

<template>
	<div id='navigation'>
		<div class='content'>
			<input class='filter' placeholder='Filter'>
			<div class='feedsCaption'>REDYT FEEDS</div>
			<router-link to="/">Home</router-link>
			<router-link to="/r/Popular">Popular</router-link>
			<router-link to="/">All</router-link>
		</div>
	</div>
</template>
