#navigation
	width: 270px
	position: absolute
	z-index: 100
	top: $topbar-height - 12px
	border-radius: 5px
	border-top-left-radius: initial
	border-top-right-radius: initial
	border: 1px solid #edeff1
	border-top: none
	overflow: hidden
	cursor: initial
	box-sizing: border-box
	margin-left: -1px

	.content
		display: flex
		flex-direction: column
		justify-content: center
		background: white
		padding-top: 5px
		padding-bottom: 10px

		.feedsCaption
			padding-left: 24px
			margin-bottom: 10px
			margin-top: 15px
			font-size: 12px
			font-weight: 500
			color: #878a8c

		a
			height: 38px
			display: flex
			align-items: center
			padding-left: 24px
			transition: .2s
			cursor: pointer

		a:hover
			background: #edeff1

		.filter
			border: 1px solid #edeff1
			margin: 0 auto
			margin-top: 5px
			padding-left: 8px
			width: 85%
			height: 30px
			box-sizing: border-box
			background: #f6f7f8

			&:hover
				border-color: #0079d3
				background: white
