<script src='./Popup.script.ts'></script>

<template>
	<div class='popup' @dblclick="closePostWindow">
		<div class='window' @dblclick='stopPropagation'>
			<div class='xButton' @click='closePostWindow'>
				<svg width='17' fill='grey' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><polygon id='close-a' fill='inherit'
					points='11.649 9.882 18.262 3.267 16.495 1.5 9.881 8.114 3.267 1.5 1.5 3.267 8.114 9.883 1.5 16.497 3.267 18.264 9.881 11.65 16.495 18.264 18.262 16.497'></polygon>
					<g fill='none' fill-rule='evenodd'><polygon points='0 20 20 20 20 0 0 0'></polygon><use xlink:href='#close-a'></use></g>
				</svg>
			</div>
			<div class='content'>
				<div class='heading'>Log in</div>
				<form v-if='!loading && !success' v-on:submit='handleSubmit' onsubmit='return false'>
					<span v-if="loginError" class="loginError">Wrong username or password!</span>
					<input type='text' v-model='usernameInput' placeholder='Username' required autoComplete='username'>
					<input type='password' v-model='passwordInput' placeholder='Password' required autoComplete='password'>
					<button class='niceButton'>Log in</button>
				</form>
				<div v-if='loading' class="loading">Loading...</div>
				<div v-if='success' class="success">Success!!!</div>
			</div>
		</div>
	</div>
</template>
