.popup
	width: 100%
	height: 100%
	background: #00000061
	position: absolute
	z-index: 101

	.window
		// width: 750px
		// height: 550px
		width: 360px
		height: 310px
		background: white
		position: fixed
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		box-shadow: #00000066 1px 7px 17px 2px
		border-radius: 5px
		animation: fadein .5s

		.xButton
			position: absolute
			top: 8px
			right: 5px
			width: 20px
			height: 20px
			cursor: pointer

		.content
			margin: 30px
			.heading
				font-size: 22px
				padding: 20px 0
				user-select: none
			input
				height: 45px
				width: 100%
				background: #f6f7f8
				border: 1px solid #cccccc
				border-radius: 5px
				padding-left: 15px
				margin: 6px 0
				box-sizing: border-box

				&:focus
					background: inherit
					outline: 0
					border: 1px solid $secondary-subforum-color
					border: 1px solid var(--secondary-subforum-color)

			button
				margin: 10px 0
				height: 45px

@keyframes fadein
	from { opacity: 0 }
	to   { opacity: 1 }
