<script src='./Left.script.ts'></script>

<template>
	<div class='left'>
		<div class='gg1'>
			<Vote class='voteHere'></Vote>
			<div class='interior'>
				<div>
					<span class='subForumName'>r/{{ this.$store.state.subforum.name }}</span>
					<span class='postTime'>Posted by u/{{ author.name + " " + createdOn}}</span>
				</div>
				<div class='title'>{{ title }}</div>
				<div class='essence'>{{ content }}</div>
				<div class='postToolbar'>
					<button>
						<div class="commentIco icon"></div>
						<div>17 Comments</div>
					</button>
					<button>
						<div class="shareIco icon"></div>
						<div>Share</div>
					</button>
				</div>
			</div>
		</div>
		<Discussion></Discussion>
	</div>
</template>
