<script src='./CommunityDetails.script.ts'></script>
<template>
	<div class='rSecElem'>
		<div class='elemName'>Community Details</div>
		<div class='cnt'>
			<div class='subForumName'>{{'r/' + this.$store.state.subforum.name}}</div>
			<div class='stats'>
				<div class='subs'>
					<p>8.2k</p>
					<p>subscribers</p>
				</div>
				<div class='online'>
					<p>9</p>
					<p>online</p>
				</div>
			</div>
			<div class='description'>{{ this.$store.state.subforum.description }}</div>
			<button class='niceButton'>SUBSCRIBE</button>
			<button class='niceButton'>CREATE POST</button>
		</div>
	</div>
</template>
