.rSecElem
	.subForumName
		margin-top: 5px
		margin-bottom: 15px
		font-size: 18px

	.stats
		display: inline-flex
		width: 100%
		.subs
			width: 50%
		.online
			width: 50%
			border-left: 1px solid #0000001c
			padding-left: 10px
			box-sizing: content-box

	.description
		margin: 15px 0

	button
		margin-top: 10px