<script lang='ts'>
import './stylesheets/app.sass';

import Vue from 'vue';
import Component from 'vue-class-component';

@Component({
	components: {
	},
})
export default class App extends Vue {
}

</script>

<template>
	<div id='app'>
		<router-view></router-view>
	</div>
</template>
