#postWindow
	.discussion
		width: 95%
		margin: 0 auto
		
		.addComment
			border: 1px solid #edeff1
			border-radius: 5px
			margin: 15px 5px
			color: #878a8c
			box-sizing: border-box
			display: flex
			justify-content: space-between
			align-items: center
			padding: 5px 10px

			button
				margin: 5px 0
				font-size: 14px

			@media screen and (min-width: 460px)
				button
					width: 100px

		.sortOptions
			text-transform: uppercase
			margin: 10px 10px
			font-size: 14px
			
			.sort
				text-transform: uppercase
				font-size: 11px
				font-weight: 700
				letter-spacing: 0.5px
				color: $icon-color
				padding: 0 10px

				span, svg
					display: inline
					vertical-align: middle

				.slide
					margin-left: 10px
					color: $secondary-subforum-color
					color: var(--secondary-subforum-color)

				svg
					width: 17px
					height: 17px
					margin-bottom: 3px
					color: $secondary-subforum-color
					fill: var(--secondary-subforum-color)