<script src='./Discussion.script.ts'></script>

<template>
	<div class='discussion'>
		<div class='addComment'>
			<span>Log in to add a comment.</span>
			<div>
				<button class="niceButton variant2">Log in</button>
				<button class="niceButton">Sign up</button>
			</div>
		</div>
		<div class='sortOptions'>
			<button class='sort' id='sortButton' @click='isSortOpen = !isSortOpen' @focusout='isSortOpen = false'>
			<span>Sort</span>
			<span class='slide'>HOT</span>
			<svg viewBox="0 0 20 20">
				<g><path fill="inherit" d="M14.1711599,9.3535 L9.99925636,13.529 L5.82735283,9.3535 C5.51262415,9.0385 5.73543207,8.5 6.18054835,8.5 L13.8179644,
				8.5 C14.2630807,8.5 14.4858886,9.0385 14.1711599,9.3535"></path></g>
			</svg>
			</button>
			<SortMenu v-if="isSortOpen"></SortMenu>
		</div>
		<div class='comments'>
			<Comment isReplied='true'></Comment>
		</div>
	</div>
</template>
